<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @acttivity.name %>
</p>

<p>
  <strong>Quantity:</strong>
  <%= @acttivity.quantity %>
</p>

<p>
  <strong>Weight:</strong>
  <%= @acttivity.weight %>
</p>

<p>
  <strong>Time:</strong>
  <%= @acttivity.time %>
</p>

<%= link_to 'Edit', edit_acttivity_path(@acttivity) %> |
<%= link_to 'Back', acttivities_path %>
